@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Absolute Forms</title>
    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
    <script type="text/javascript" src="../../js/ext-all.js" ></script>
    <script src="../../js/ext-lang-pt_BR.js" type="text/javascript"></script>

    <!-- Shared -->
    <link rel="stylesheet" type="text/css" href="../../Shared/example.css" />

    <script type="text/javascript" src="../../jsViews/Home/frmLogin.js"></script>
    
</head>
<body>
    <div id="divTs"></div>
</body>

</html>
